.spinner {
  border: 2px solid var(--color-gray-100);
  border-radius: var(--radius-full);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sm {
  width: 16px;
  height: 16px;
}

.md {
  width: 24px;
  height: 24px;
}

.lg {
  width: 32px;
  height: 32px;
}
